{% extends "base.html" %}

{% block script %}
<script>

    function getParameterByName(name, url) {
        if (!url) url = window.location.href;
        name = name.replace(/[\[\]]/g, '\\$&');
        var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
            results = regex.exec(url);
        if (!results) return null;
        if (!results[2]) return '';
        return decodeURIComponent(results[2].replace(/\+/g, ' '));
    }

    $(document).ready(function() {
        console.log("working");

        var query = getParameterByName('q')
        var tweetList = []

        function parsePosts(){
            if (postList == 0) {
                $("post-container").text("No posts currenty found.")
            } else {
            $.each(postList.results, function(key, value) {
                    var postKey = key;
                    var postContent = value.content;
                    var postUser = value.user;
                    $("#post-container").append(
                        "<div class=\"media\"><div class=\"madia-body\">" + postContent + "<br/> via " 
                        + postUser.username + " | " + "<a href='#'>View</a>" + "</div></div><hr/>"
                    )
                })
            }
        }


        function fetchPosts(){
            console.log("fetching...")
            $.ajax({
            url: "/api/post/",
            data: {
                "q": query
            },
            method: "GET",
            success: function (data) {
                postList = data
                parsePosts()
            },
            error: function (data) {
                console.log("error")
                console.log(data)
            }
        })
        }
        fetchPosts()

        $("#post-form").submit(function(event){
            event.preventDefault()
            var this_ = $(this)
            var formData = this_.serialize()

            $.ajax({
                url: "/api/post/create/",
                data: formData,
                method: "POST",
                success: function (data) {
                    fetchPosts()
                },
                error: function (data) {
                    console.log("error")
                    console.log(data)
                }
            })
            
        })

    });
</script>

{% endblock script %}

{% block content %}
<div id='post-container'>


</div>


<div class="row">
    <div class="col-sm-3">
        <h1>{{ request.user }}</h1>
    </div>
    <div class="col-sm-9 col-sm-offest-3">
        <div>
            {% if not request.GET.get.q %}


            {% include "core/form.html" with form=create_form action_url=create_url btn_title="Post" form_id='post-form' %}

        </div>
        <hr />

        {% endif %}



        <div id='post-container'>



        </div>



        {% for object in object_list %}

        <div class="media">
            <div class="media-left">
            </div>

            <div class="media-body">
                <h4 class="media-heading">{{ object.content }}</h4>

                Post by: <a href="profiles/{{ object.user }}">{{ object.user }}</a><br />
                Post time: {{ object.timestamp }}
                | <a href="{{ object.get_absolute_url }}">View</a>
                </p>

            </div>
        </div>
        <hr />



        {% empty %}
        {% if request.GET.q %}
        <p>Not posts found.</p>
        {% else %}

        <p>Not posts yet.</p>
        {% endif %}

        {% endfor %}
    </div>
</div>

{% endblock content %}